.services {
    background-color: #1d809f;
    padding-top: 120px;
    padding-bottom: 120px;
}


.services h3 {
    font-size:16px ;
    text-transform: uppercase;
    color:  rgb(236,184,7);
    margin : 0;
    padding: 0;
}

.services h2 {
    font-size: 48px;
    margin-bottom: 48px;
    color: white;
    margin-top : 0;
}

.services .row{
    display: flex;
    justify-content: space-around;
}


.services .row span{
   background-color: white;
   width: 112px;
   height: 112px;
   display: block;
   border-radius: 50%;
   color: #1d809f;
   font-size: 36px;
   line-height: 100px;


}

.services .row .column{
    justify-content: space-around;
}

.services .row  h4{
    margin-bottom: 8px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 24px;
    color: white;
}

.services .row  p{
    font-size: 16px;
    color: white;
}