.skills-header-div {
  margin-top: 50px;
}

.skills-header {
  font-size: 50px;
  line-height: 1.1;
  font-family: "Google Sans Regular";
  text-align: center;
}

@media (max-width: 1380px) {
  .skills-header {
    font-size: 40px;
  }
}
@media (max-width: 1110px) {
  .skills-header {
    font-size: 35px;
  }
}
