/* .greeting-text-grid {
} */

.greeting-title {
  margin-top: 130px;
  margin-left: 50px;
  font-size: 75px;
  line-height: 6px;
  font-family: "Google Sans Bold";
}

.greeting-sub-title {
  font-size: 30px;
  line-height: 40px;
  margin-left: 50px;
  margin-top: 25px;
  font-family: "Google Sans Medium";
}

.greeting-p {
  margin-left: 50px;
  font-size: 16px;
}

.greeting-image-grid > * {
  max-width: 100%;
  height: auto;
}

@media (max-width: 1380px) {
  .greeting-title {
    font-size: 60px;
    line-height: 5px;
  }

  .greeting-sub-title {
    font-size: 20px;
    line-height: 40px;
  }

  .greeting-p {
    font-size: 15px;
  }
}

@media (max-width: 1110px) {
  .greeting-title {
    font-size: 50px;
    line-height: 5px;
  }

  .greeting-sub-title {
    font-size: 20px;
    line-height: 40px;
  }

  .greeting-p {
    font-size: 13px;
  }
}
