:root {
  --main-color: #ffc500;

  --main-title-color: black;

  --main-text-color: grey;

  --main-link-color: lightsalmon;

  --heading1Size: 75px;

  --heading2Size: 30px;

  --textSize: 20px;

  --heading1SizeMaxWidth1380: 65px;

  --heading2SizeMaxWidth1380: 25px;

  --textSizeMaxWidth1380: 17px;

  --heading1SizeMaxWidth1100: 55px;

  --heading2SizeMaxWidth1100: 20px;

  --textSizeMaxWidth1100: 16px;
}

.top-60 {
  margin-top: 60px;
}

.top-20 {
  margin-top: 20px;
}

@media (max-width: 991px) {
  .top-60 {
    margin-top: 80px;
  }
}

/* .container_shadow {
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.1);
} */

.main_border {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-style: solid;
  border-width: 1px;
}

.main_content {
  min-height: 100vh;
  margin-bottom: 30px;
  padding: 30px;
}

.section_title {
  position: relative;
  display: inline-block;
  padding: 0 3px;
}
