.footer {
  background-color: black;
  color: white;
  display: flex !important;
  flex-wrap: wrap !important;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
  border-radius: 50px !important;
  border-color: black;
  border-style: solid;
  border-width: 2.5px;
  padding: 20px 25px;
}

.footer .footer_left .footer_name > a {
  font-size: 15px;
  text-decoration: none !important;
  color: var(--main-color) !important;
}

.footer .footer_right .footer_copyright {
  font-size: small !important;
  text-align: end !important;
  color: white !important;
}

.footer .footer_right .footer_copyright > a {
  text-decoration: none !important;
  color: var(--main-color) !important;
}
